# modo de la aplicación (development, production, etc.)
APP_MODE=development

WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_API_URL=v15.0

# Access key hashing secret (required for generating customer AccessKeys)
ACCESS_KEY_SECRET=rtX4OdiPewYdS4BaSqXg27BQncpiW6xQMJNKseFMf21UxGgQejCbwNdRwiygwu5VgBu4g2JRr9soVaz5XGHBarJf5tv0YYd83r84

# ************************ MODO PROD ************************

# Database connection
PROD_DB_HOST=127.0.0.1
PROD_DB_PORT=3306
PROD_DB_DATABASE=clubcheck
PROD_DB_USERNAME=clubcheck
PROD_DB_PASSWORD=super-secret-password

#STRIPE
PROD_STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PROD_STRIPE_PUBLIC_KEY=pk_test_5xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PROD_STRIPE_PRODUCT_ID=prod_xxxxxxxxxxxxxxxxxxx
PROD_STRIPE_TEST_CLOCK_ID=clock_xxxxxxxxxxxxxxxxxxxxxxxx


# ************************ MODO DEV ************************
# Database connection
DEV_DB_HOST=127.0.0.1
DEV_DB_PORT=3306
DEV_DB_DATABASE=clubcheck
DEV_DB_USERNAME=clubcheck
DEV_DB_PASSWORD=super-secret-password

#STRIPE
DEV_STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEV_STRIPE_PUBLIC_KEY=pk_test_5xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEV_STRIPE_PRODUCT_ID=prod_xxxxxxxxxxxxxxxxxxx
DEV_STRIPE_TEST_CLOCK_ID=clock_xxxxxxxxxxxxxxxxxxxxxxxx